@media (min-width: 1200px) {
.container {
    max-width: 1100px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 7%;
padding-bottom: 15px;
}
.global-search,
.centered {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none;
}
.step-links a{
color: #4285F4;
}

.container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

#results-container {
    position: relative;
    width: 50%;
    height: 400px;
}

#results {
    width: 100%;
}

#results table {
    height: 400px;
    overflow: scroll;
    display: block;
}

.result {
    display: block;
    background-color: lightgray;
    padding: 9px 17px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    transition: all 1s;
}

.result-name {
    font-weight: bold;
}

.result.active {
    transition: all 1s;
}

.detail {
    display: none;
}

#reset {
    width: 30%;
}