<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>De-Tour Guide</title>
    <script src="/static/js/maps.js"></script>
    <script src="/static/js/results.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <!-- Replace action here with the path of the file that will be used to parse it -->
    <form class="form-inline global-search">

        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            {{ name }}
        </h1>
        <br>
        <h2 style="font-size: 20px; font-family:Futura">
            Find ideal stops along your road trip route!
        </h2>
        <br><br><br>

        <div class="form-group">
            <input type="text" name="origin" class="form-control input" placeholder="Origin" required>
        </div>
        <br>
        <div class="form-group">
            <input type="text" name="dest" class="form-control input" placeholder="Destination" required>
        </div>
        <br>
        <h2> Please Describe What You're Looking For </h2>
        <br>
        <h4> (Separate each aspect with a comma) </h4>
        <br>
        <div class="form-group">
            <input type="text" name="description" maxlength="200" class="form_control input"
                placeholder="ex. 'Family friendly, delicious seafood, zoo with elephants'" style="margin-top: 10px"
                size="60" required>
        </div>
        <br>
        <h5>Approximately how many miles are you willing to deviate from the path?</h5>
        <br>
        <select name="distance">
            <option value="3000">Over 100</option>
            <option value="100">100</option>
            <option value="75">75</option>
            <option value="50">50</option>
            <option value="25">25</option>
          </select>
        <br>
        <br>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>
    <div class="centered">
        {% if data and results %}
        <h1>{{output_message}}</h1>
        <h3 id="time"></h3>
        <h3 id="distance"></h3>
        {% for d in data %}
        <script>
            coords.push(
                {
                    lat: parseFloat('{{ d[0] }}'),
                    lng: parseFloat('{{ d[1] }}')
                }
            )
        </script>
        {% endfor %}
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
        </script>
    </div>
    
    <div class="container">
        <div id="map"></div>
        <div id="results-container">
            <table id="results">
                {% for (name, details) in results[0] %}
                <tr onclick="updateMap(parseFloat('{{ details.lat }}'), parseFloat('{{ details.long }}')); 
                            toggle('{{loop.index0}}')" class="result" id="result{{ loop.index0 }}">
                    <td>
                        <div class="result-name">{{ name }}</div>
                        <div class="detail" id="detail{{loop.index0}}">
                            <div>
                                {{ details.address }}
                            </div>
                            <div>
                                {{ details.review }}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <button id="reset" class="btn btn-info" onclick="updateMap()"> Reset Map </button>

    </div>
    {% endif %}
</body>

</html>